footer {
  padding: 2rem;
  text-align: center;
  img {
    height: 2rem;
  }
  .upper-links {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    a {
      color: #000;
    }
    margin-bottom: 1rem;
  }
  .bottom-links {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    a {
      color: #000;
      font-weight: 600;
    }
    margin-bottom: 1rem;
  }
  span {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
  }
}
