.submenu {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  display: none;
  padding: 1rem 2rem;
  transition: all 0.3s linear;
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.submenu.show {
  display: block;
}
.submenu-link {
  display: block;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
